body {
background-color: #025e16;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #5a027c;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}